node_modules
/dist
/dist-docs
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.DS_Store
.npmrc
/src/icons/icons/*
dumi-docs.tar.gz

# 环境变量文件
.env.local
.env.development.local
.env.test.local
.env.production.local
