.aa-input-number-with-label {
  display: flex;
  align-items: center;
  .arco-input-number {
    width: 160px;
  }
  .input-number-label {
    margin-left: 8px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(107, 114, 128);
  }
}
