.aa-info-description {
  width: 100%;
  .info-wrapper > :not([hidden])~:not([hidden]) {
    margin-bottom: 0;
    margin-top: 24px;
  }
  .info-section-wrapper {
    width: 100%;
    .info-item {
      display: flex;
      min-width: 0;
      align-items: center;
      .item-label-wrapper {
        flex-shrink: 0;
      }
      .item-value-wrapper {
        min-width: 0;
        flex: 1 1;
        .item-value {
          display: flex;
          width: 100%;
          min-width: 0;
          align-items: center;
          gap: 4px;
          .value-text {
            min-width: 0;
          }
        }
      }
    }
  }
}
