.aa-sticky-form-layout {
  margin-right: 20px;
  .layout-container {
    position: sticky;
    margin-bottom: 0;
    margin-left: 0;
    overflow: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
  }
  .action-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 12px;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    &.to-bottomed {
      padding-left: 24px;
    }
    &.is-sticky {
      padding-left: 24px;
      border-color: rgb(229 231 235);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px -2px 8px 0px;
    }
    &.not-sticky {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .action-btns {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 12px;
      .arco-btn {
        min-width: 80px;
      }
    }
  }
}
