.aa-process-flow {
  border-radius: 12px;
  background-color: var(--color-bg-3);
  padding: 16px 20px;
  &.bordered {
    // rounded-lg border border-gray-200
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(229 231 235);
  }
  .flow-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .flow-step {
      display: flex;
      flex: 1 1;
      align-items: center;
      gap: 8px;
      .step-content {
        margin-right: 0;
        min-width: 0;
        flex: 1 1;
        .step-title {
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          color: var(--color-text-1);
        }
        .step-description {
          font-size: 12px;
          line-height: 1.625;
          color: #6E7B8D;
        }
      }
      .step-icon-wrapper {
        flex-shrink: 0;
        .step-icon {
          display: flex;
          height: 80px;
          width: 80px;
          align-items: center;
          justify-content: center;
          color: rgb(37, 99, 235);
        }
      }
    }
    .step-separator-wrapper {
      margin-left: 12px;
      margin-right: 12px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      .step-separator {
        color: rgb(156, 163, 175);
        font-size: 24px;
        line-height: 32px;
        > * {
          color: rgb(51, 112, 255)
        }
      }
    }
  }
}
